nav
    ul.nav-list
        li.nav-list-item
            a.nav-link(href= theme.menu['home'] class=is_home() ? 'active' : '')
                = __('index.title')
        li.nav-list-item
            a.nav-link(href= theme.menu['challenges'] class=is_current('challenges') ? 'active' : '')
                = __('challenges.title')
        li.nav-list-item
            a.nav-link(href= theme.menu['bang'] class=is_current('bang') ? 'active' : '')
                = __('bang.title')
        li.nav-list-item
            a.nav-link(href= theme.menu['news'] class=is_current('news') ? 'active' : '')
                = __('news.title')
        li.nav-list-item
            a.nav-link(href= theme.menu['help'] class=is_current('help') ? 'active' : '')
                = __('help.title')
        li.nav-list-item
            a.nav-link(href= theme.menu['rss'] target="_blank")
                = __('rss.title')
